build/
bin/
.gradle/
.kotlin/
out/

**/build/
**/bin/
**/.gradle/
**/.kotlin/

.idea/
*.iml
*.iws
*.ipr
**/build.iml

.classpath
.project
.settings/

.vscode/

nbproject/
private/

*.swp
*~
.DS_Store
Thumbs.db


.spotless/
